[Service]
# you will probably need to modify this one
WorkingDirectory=/home/pi/spaceboard
ExecStart=/home/pi/spaceboard/spaceteam.py --local

Type=notify

# necessary to see the output of this service in the journal
Environment=PYTHONUNBUFFERED=true

# our program must notify systemd or it will be considered failed
WatchdogSec=10

# we will restart no matter what happens
Restart=always

User=pi
Group=pi

[Unit]
Description=Spaceteam: the software that reads the controls
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target
